@font-face {
  font-family: certificate;
  src: url("font/certificate.0tf");
}
@font-face {
  font-family: name;
  src: url("font/name.ttf");
}
@font-face {
  font-family: apreciation;
  src: url("font/apreciation.otf");
}
@font-face {
  font-family: content;
  src: url("font/content.otf");
}

@media all{
	body.printView, body.printView:before, body.printView:after { 
		border : none !important;
	}
	.certificate-wrapper {
	  overflow: hidden;
	  width: 297mm;
	  height: 210mm;
	  position: relative;
	  background: #ffffff !important;
	  line-height: normal;
	}
	.certificate-wrapper .certificate-background {
	  /*position : absolute;*/
	  right: 0mm;
	  top: auto;
	  width: 297mm;
	  height: 210mm;
	  overflow: hidden;
	  position: relative;
	}
	.certificate-wrapper .certificate-background .recttop {
	  /*position : absolute;*/
	  right: -12mm;
	  top: 0mm;
	  width: 170mm;
	  height: 14.5mm;
	  background: #003366 !important;
	  transform: skewX(60deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .recttop1 {
	  /*position : absolute;*/
	  right:163mm;
	  top: 0mm;
	  width: 20mm;
	  height: 14.5mm;
	  background: #e6b800 !important;
	  transform: skewX(60deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectright {
	  width: 14.5mm;
	  height: 60mm;
	  top: 8mm;
	  right: 0mm;
	  background: #003366 !important;
	  transform: skewY(20deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectright2 {
	  width: 14.5mm;
	  height: 10mm;
	  top: 68mm;
	  right: 0mm;
	  background: #e6b800 !important;
	  transform: skewY(20deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectbtm {
	  /*position : absolute;*/
	  right: 0mm;
	  bottom: 0mm;
	  width: 110mm;
	  height: 14.5mm;
	  background: #003366 !important;
	  transform: skewX(-50deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectright1 {
	  /*position : absolute;*/
	  right:-5mm;
	  bottom: -5mm;
	  width: 19.5mm;
	  height: 60mm;
	  background: #003366 !important;
	  transform: skewY(-25deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectbtm1 {
	  /*position : absolute;*/
	  left: 0mm;
	  width: 14.5mm;
	  height: 68mm;
	  bottom: -8mm;
	  background: #003366 !important;
	  transform: skewY(20deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectbtm2 {
	  /*position : absolute;*/
	  width: 170mm;
	  height: 14.5mm;
	 bottom: 0mm;
	  left: 0mm;
	  background: #003366 !important;
	  transform: skewX(60deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectbtm3 {
	  /*position : absolute;*/
	  left:170mm;
	  bottom: 0mm;
	  width: 20mm;
	  height: 14.5mm;
	  background: #e6b800 !important;
	  transform: skewX(60deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .rectbtm4 {
	  /*position : absolute;*/
	  left: 0mm;
	  width: 14.5mm;
	  height: 10mm;
	  bottom: 60mm;
	  background: #e6b800 !important;
	  transform: skewY(20deg);
	  position: absolute;
	}
	
	.certificate-wrapper .certificate-background .boxbtm {
	position: absolute;
	  left: 18mm;
	  top: 18mm;
	  right: 18mm;
	  bottom: 18mm;
	  
	  border-left: 5pt solid #e6b800 !important;
	  border-bottom: 5pt solid #e6b800 !important;
	  border-right: 5pt solid #e6b800 !important;
	  border-top: 5pt solid #e6b800 !important;
	}
	  
.certificate-wrapper .rating {
	position: absolute;
	  left: 0mm;
	  top: 30mm;
	  right: 0mm;
	  text-align: center;
    font-size: 24px; /* Adjust the font size as needed */
    color: gold; /* Set the color of the stars */
}

  .certificate-wrapper .certificate {
	  top: 0mm;
	  right: 20mm;
	  bottom: 20mm;
	  left: 20mm;
	  position: absolute;
	
  }
   .certificate-wrapper .certificate .srno{
	   position: absolute;
	   left: 70mm;
	  top: 20mm;
	  font-size: 16pt;
	  text-align: center;
	   margin: auto;
   }
   .certificate-wrapper .certificate h1 {
	   
	font-size: 65pt;
	  text-shadow: #806600 !important;
	  text-align: center;
	  font-family : certificate;
	  line-height: normal;
	  margin: auto;
	  
  }
  .certificate-wrapper .certificate h2 {
    color: #806600 !important;
	  font-family: certificate;
	  font-size: 20pt;
	  text-align: center;
	  margin: auto;
	 
  }

  .certificate-wrapper .certificate h3 {
     font-family: name;
	  font-size: 40pt;
	  color: #000080 !important;
	  text-align: center;
	   margin: auto;
	  
  }

  .certificate-wrapper .certificate p {
	font-family: content;
	  font-size: 10pt;
	  text-align: center;
	   margin: auto;
  }

  .certificate-wrapper .certificate .logo {
	  left: 10mm;
	  top: 20mm;
	 position: relative;
	 width:150px;
   
  }
  .certificate-wrapper .certificate .logo1 {
    width: 150px;
	top: 20mm;
	right: 10mm;
	position: absolute;
  }
.certificate-wrapper .certificate .date {
	  bottom: 30mm;
		left: 20mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
 .certificate-wrapper .certificate .signature {
    width: 150px;
	bottom: 40mm;
	right: 30mm;
	position: absolute;
  }
  .certificate-wrapper .certificate .signature1 {
   width: 150px;
	bottom: 40mm;
	
	left:100mm;
	position: absolute;
  
  }

	.certificate-wrapper .certificate .org-name {
	  position: absolute;
	  left:0mm;
	  bottom: 11mm;
	  right: 0mm;
	  text-align: center;
	  font-size: 18pt;
	  font-weight: bold;
	  position: absolute;
	}
	.certificate-wrapper .certificate .org-address {
	  right: 0mm;
	  bottom: 0mm;
	   left:0mm;
	  text-align: center;
	  font-size: 12pt;
	  font-weight: bold;
	  position: absolute;
	}
	.certificate-wrapper .certificate .sign-director {
	   bottom: 30mm;
		right: 30mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	.certificate-wrapper .certificate .sign-president {
	 bottom: 30mm;
		left: 100mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	
}